/* Carousel.css */

.full-width-carousel {
    width: 95%;
    margin: 0 auto;
}

.full-width-slide {
    width: 180vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.slide-image {
    display: block;
    margin: auto;
}